<% provide(:title, 'Search results') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>	
	<div class="col-md-9">
	  <%= render 'shared/search_result_form' %>
    <div id="js"><%= JSON.pretty_generate(@results) %></div>
	</div>
</div>