<% provide(:title, 'Search results') %>
<h1>Search results</h1>
<div class="row">
	<%= render 'shared/sidebar_form' %>	
	<div class="container col-md-9">
		<%= render 'shared/search_result_form' %>
	</div>
</div>