<% provide(:title, 'Authorization key') %>
<h1>Authorization key</h1>
<div class="row">
	<div class="authorizationkey">
		<%= render 'shared/authorizationkey_form' %>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-6">
  			<pre><%= JSON.pretty_generate(@results) %></pre>
  			</div>
  		</div>	
	</div>
</div>