<% provide(:title, 'Authorization key') %>
<h1>Authorization key</h1>
<div class="row">
	  <%= render 'shared/sidebar_form' %>
	<div class="container col-md-9">
		<%= render 'shared/authorizationkey_form' %>
		<pre><%= JSON.pretty_generate(@results) %></pre>	
	</div>
</div>