<% provide(:title, 'Book request') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>	
	<div class="col-md-9">
	  <%= render 'shared/book_form' %>
    <div style="top: 800px; width: 1000px;" id="js"><%= JSON.pretty_generate(@results) %></div>
	</div>
</div>