<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<div class="row">
  <%= render 'shared/sidebar_form' %>
	<div class="container col-md-9">
	  <%= render 'shared/authorizationkey_form' %>
  </div>
</div>

