<%= form_tag('/authorization', method: :post, route: authorization_path) do |f| %>
  <div class="form-group block">
    <div class="col">
      <label for="validationDefault01" class="form-label">Login</label>
      <input type="text" class="form-control" name="login" placeholder="Login" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col">
      <label for="validationDefault02" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit form</button>
<% end %>

