<%= form_tag('/info', method: :post, route: info_path, onSubmit: 'saveBookInfoSettings()') do |f| %>
  <div class="booking_info_fields">
    <div class="col-md-3">
      <label for="Select_API_URL">API</label>
      <%= select_tag(:api_url, options_from_collection_for_select(BaseUrl.all, :value, :name), style: "width: 300px") %>
    </div>
    <div class="form-group booking_info">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Billing number</label>
        <input type="text" class="form-control form-control-sm" name="billing" placeholder="Billing number" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Authorization key</label>
        <input type="text" class="form-control form-control-sm" name="auth_key" id="auth_key" placeholder="Authorization key" required>
      </div>                 
    </div>
     <button type="submit" class="btn btn-primary btn-sm">Submit</button> 
  </div>  
<% end %>
