<%= form_tag('/cancelbooking', method: :post, route: cancel_path, onSubmit: 'saveCancelBookSettings()') do |f| %>
  <div class="cancel_booking_fields">
    <div class="form-group row cancel_booking">
      <div class="col">
        <label for="Select_API_URL">API</label>
        <%= select_tag(:api_url,options_from_collection_for_select(BaseUrl.all, :value, :name)) %>
      </div>
      <div class="col">
        <label for="validationDefault01" class="form-label">Billing number</label>
        <input type="text" class="form-control" name="billing" placeholder="Billing number" required>
      </div>
      <div class="col">
        <label for="validationDefault01" class="form-label">Signature(Sig)</label>
        <input type="text" class="form-control" name="sig" placeholder="Signature(sig)" required>
      </div>
      <div class="col">
        <label for="validationDefault02" class="form-label">Authorization key</label>
        <input type="text" class="form-control" name="auth_key" id="auth_key" placeholder="Authorization key" required>
      </div>                 
    </div>
  </div>  
  <button class="btn btn-primary" type="submit">Submit</but
<% end %>

