    <div class="authorization_fields">
      <div class="form-group row grapic data">
        <div class="col">
          <label for="validationDefault01" class="form-label">Login</label>
          <input type="text" class="form-control" name="login" id="login" placeholder="Login" required>
        </div>
        <div class="col">
          <label for="validationDefault02" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>          
      </div>
  <button type="submit" class="btn btn-primary">Submit</button>