<%= form_tag('/hits', method: :get, class: 'form-inline', route: hits_path, onSubmit: 'saveHitRequestSettings()') do |f| %>
      <div class="form-group row conversion">
        <div class="channel col">
          <label for="Ñhannel">Channel</label>
          <%= select_tag(:channel, options_from_collection_for_select(Channel.all, :code, :code), style: "width: 300px;") %>
        </div>
        <div class="date_from col">
          <label for="date">Date from</label>
          <input type="text" name="hit_date_from" id="hit_date_from" class="date form-control form-control-sm" data-provide='datepicker' data-date-format="dd-mm-yyyy" autocomplete="off">
        </div>
        <div class="date_to col">
          <label for="date">Date to</label>
          <input type="text" name="hit_date_to" id="hit_date_to" class="date form-control form-control-sm" data-provide='datepicker' data-date-format="dd-mm-yyyy" autocomplete="off">
        </div>        
          <button type="submit" class="btn btn-primary mb">Submit</button>          
      </div>     
<% end %>
<div class="form-group" id="conversion"></div> 
<div class="form-inline graphics">
  <div class="form-group" id="hits"></div>
  <div class="form-group" id="books"></div>
  <div class="form-group" id="pays"></div>
</div>