		<%= form_tag('/search', method: :post, route: search_path) do |f| %>

			<%= render 'shared/error_messages' %>

  			<div class="form-row align-items-center">
    		  <div class="col col-lg-4">
    		  	<label for="validationDeparture" >Departure</label>
      		  	<input type="text" name="departure" class="form-control" placeholder="Deparute iata" required>
    		  </div>
    		  <div class="col col-lg-4">
    		  	<label for="validationArrival">Arrival</label>
      			<input type="text" name="arrival" class="form-control" placeholder="Arrival iata" required>
    		  </div>
    		  <div class="col col-lg-3">
    		  	<label for="date">Date</label>
      			<input type="date" name="date" class="form-control">
    		  </div>    		  
  			</div>

            <div class="form-check form-check-inline">
				<label><input type="checkbox" class="agree">Обратно</label>
            </div>
  			
        	<div class="form-row align-items-center">
          	  <div class="col col-lg-4">
            	<label for="validationDeparture1">Departure</label>
              	<input type="text" name="departure1" class="form-control" placeholder="Deparute iata" required>
          	  </div>
          	  <div class="col col-lg-4">
            	<label for="validationArrival1">Arrival</label>
            	<input type="text" name="arrival1" class="form-control" placeholder="Arrival iata" required>
          	  </div>
          	  <div class="col col-lg-3">
            	<label for="date">Date</label>
            	<input type="date" name="date1" class="form-control">
          	  </div>            
        	</div>  			

  			<div class="form-row align-items-center">
    		  <div class="col col-lg-4">
    		  	<label for="validationAdultCount">Adult</label>
      		  	<input type="text" name="adult" class="form-control" placeholder="" required>
    		  </div>
    		  <div class="col col-lg-4">
    		  	<label for="inputChildCount">Child</label>
      			<input type="text" name="child" class="form-control">
    		  </div>
    		  <div class="col col-lg-4">
    		  	<label for="inputInfantcount">Infant</label>
      		  	<input type="text" name="infant" class="form-control">
    		  </div>    		  
  			</div>

  			<div class="form-row align-items-center">
    		  <div class="col col-lg-4">
    		  	<label for="inputFilterAirlines">Filter airlines</label>
      		  	<input type="text" name="includeairlines" class="form-control">
    		  </div>
    		  <div class="col col-lg-4">
    		  	<label for="inputIncludeGds">Include gds</label>
      			<input type="text" name="includegds" class="form-control">
    		  </div>
    		  <div class="col col-lg-4">
    		  	<label for="inputExcludeGds">Exclude gds</label>
      		  	<input type="text" name="excludegds" class="form-control">
    		  </div>    		  
  			</div>	

    		<div class="col col-lg-4">
    		  	<label for="valildationAuthKey">Authorization key</label>
      		  	<input type="text" name="auth_key" class="form-control" placeholder="" required>
    		  </div>    		  
  			</div>

			<div class="col col-lg-4">
				<label for="inputServiceclass">Service class</label>
                <select class="form-control" name="bookingclass" id="exampleFormControlSelect1">
                  <option value="e">E - Econom</option>
                  <option value="w">W - Econom-premium</option>
                  <option value="b">B - Business</option>
                  <option value="f">F - First</option>
    			</select>
  			</div>

			<div class="form-check">
  			  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  				<label class="form-check-label" for="defaultCheck1">Только прямые</label>
            </div>

			<%= submit_tag "Search", class: "btn btn-large btn-primary" %>
		<% end %>





		