<% provide(:title, 'Booking info') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>	
	<div class="col-md-9">
	  <%= render 'shared/booking_info_form' %>
      <pre><%= JSON.pretty_generate(@results) %></pre>	
	</div>
</div>