<% provide(:title, 'Search request') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>
	<div class="col-md-9">
	  <%= render 'shared/search_form' %>
	  <pre id="json"><%= JSON.pretty_generate(@search_results) %></pre>
	</div>
</div>