<% provide(:title, 'Search request') %>
<h1>Search request</h1>
<div class="row">
	<%= render 'shared/sidebar_form' %>
	<div class="container col-md-9">
	  <%= render 'shared/search_form' %>
	  <pre><%= JSON.pretty_generate(@results) %></pre>
	</div>
</div>