<% provide(:title, 'Search request') %>
<div class="row">
	<%= render 'shared/sidebar_form' %>
	<div class="col-md-9">
	  <%= render 'shared/search_form' %>
    <div style="top: 550px; width: 1000px;" id="js"><%= JSON.pretty_generate(@search_results) %></div>
	</div>
</div>